.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
    row-gap: 48px;
}

.image {
    display: flex;
    justify-content: center;
}

.product {
    width: 360px;
    margin-bottom: 24px;
}

.product img {
    height: 398px;
}

.product h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.productColor {
    margin-left: 200px;
}

@media only screen and (min-width: 1024px) {
    .grid {
        column-gap: 64px;
    }

}


