:root {
    --darkGray: #374151;
    --gray: #909090;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    color: var(--darkGray);
}

.product {
    margin: 0 35px;
}

.mainImage {
    display: flex;
    justify-content: center;
}

.mainImage img{
   width: 360px; 
}

.gender {
    margin: 0;
}

.headerTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.priceCartContainer {
    display: flex;
    margin-bottom: 8px;
}

.price {
    font-size: 1.5rem;
    margin: 0;
}

.cartBtn {
    margin-left: auto;
    width: 108px;
    height: 32px;
    background-color: #978a8a;
    border: none;
    color: #FFF;
}

.hrTop {
    border: 1px solid var(--gray);
    margin: 0;
}

.colorNameContainer {
    display: flex;
    font-weight: 600;
    margin-top: 12px;
}

.colorNameContainer p {
    margin: 0 32px 0 0;
}

.colorName {
    font-weight: 400;
    margin-left: 100px;
}

.color {
    display: flex;
    margin-left: auto;
    
}

.circleYellow {
    width: 24px;
    height: 24px;
    border: 1px solid #909090;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    top: -2px;
    left: -2px;
}

/* .circle a:hover {
    width: 24px;
    height: 24px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    top: -2px;
    left: -2px;
} */

.yellow {
    width: 20px;
    height: 20px;
    background-color: #EB9F30;
    border-radius: 50%;
    position: relative;
}

.petrolBlue {
    width: 20px;
    height: 20px;
    background-color: #1E565C;
    border-radius: 50%;
    position: relative;
    margin-left: 8px;
}

.red {
    width: 20px;
    height: 20px;
    background-color: #EA0F0F;
    border-radius: 50%;
    position: relative;
    margin-left: 8px;
}

.limaBeanGreen {
    width: 20px;
    height: 20px;
    background-color: #C0C44B;
    border-radius: 50%;
    position: relative;
    margin-left: 8px;
}

.altView {
    display: flex;
    margin-top: 24px;
    height: 75px;
    justify-content: space-between;
}

.altView img {
    height: 75px;
    width: 75px;
    object-fit: contain;
    border: 1px solid var(--gray);
}

.descriptionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    font-size: 1.5rem;
    font-weight: 600;
}

.sizingMobile {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
}

.sizingDesktop {
    display: none;
}

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--gray);
}

.medium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    /* border: 1px solid var(--gray); */
    margin-left: 12px;
}

.large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    /* border: 1px solid var(--gray); */
    margin-left: 12px;
}

.extraLarge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    /* border: 1px solid var(--gray); */
    margin-left: 12px;
}

.description p {
    font-size: 1.25rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.description p:nth-child(3) {
    margin-top: 40px;
}

.hrReviewTop {
    border: 1px solid rgb(115 166 173 / 30%);
    margin-top: 32px;
}

.review {
    margin: 0 35px;
}

.user {
    display: flex;
    margin-top: 32px;
}

.userImage {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImage img {
    position: absolute;
}

.userName {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 20px;
}

.verified {
    margin-left: auto;
    color: #396D21;
}

.reviewText {
    margin-left: 94px;
}

@media only screen and (min-width: 1024px) {
    .product {
        margin: 0 70px;
    }
    .colorNameContainer {
        margin-top: 32px;
    }

    .colorNameContainer p {
        padding-top: 16px;
    }

    .colorName {
        padding-top: 16px;
    }
    
    .circleYellow {
        width: 56px;
        height: 56px;
        top: -4px;
        left: -4px;
    }
    
    .yellow {
        width: 48px;
        height: 48px;
    }
    
    .petrolBlue {
        width: 50px;
        height: 50px;
    }
    
    .red {
        width: 50px;
        height: 50px;
       
    }
    
    .limaBeanGreen {
        width: 50px;
        height: 50px;
    }

    .altView {
        height: 144px;
        justify-content: left;
        gap: 0 36px;
    }
    
    .altView img {
        height: 144px;
        width: 144px;
    }

    .small {
        width: 42px;
        height: 42px;
    }
    
    .medium {
        width: 42px;
        height: 42px;
    }
    
    .large {
        width: 42px;
        height: 42px;
    }
    
    .extraLarge {
        width: 42px;
        height: 42px;
    }

    .description {
        margin-top: 82px;
    }

    .sizingMobile {
        display: none;
    }

    .sizingDesktop {
        display: flex;
        float: right;
        margin-top: -130px;
    }
    .review {
        margin: 0 70px;
    }
} 