* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.product {
    margin: 0 70px;
}
.mainImage {
    display: flex;
    justify-content: center;
}

.mainImage img{
   width: 360px; 
}
